<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>customer update</h1>
    <form action="/updatecustomer/<%= updateCustomer.id %>" method="post">
        <input type="text" name="name" id="name" value="<%= updateCustomer.name %>">
        <input type="text" name="address" id="address" value="<%= updateCustomer.address %>">
        <input type="text" name="mobile" id="mobile" value="<%= updateCustomer.mobile %>"> 
        <button type="submit">submit</button>
    </form>
</body>
</html>