<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit product</h1>
    <form action="" method="post">
        <input type="text" name="name" id="name" placeholder="name" value="<%= productData?.name %>">
        <input type="text" name="price" id="price" placeholder="price" value="<%= productData?.price %>">
        <button type="submit">submit</button>
    </form>
</body>

</html>